.contentContainer {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;

  img {
    width: 15rem;
    height: 1.6rem;
  }

  section {
    margin-top: 4rem;

    >div + div {
      margin-top: 3rem;
    }
  }

  footer {
    margin-top: 4rem;

    button {
      cursor: pointer;
      background: transparent;
      border: none;
      color: var(--highlight);
      transition: filter 0.2s;
    }

    button:hover {
      filter: brightness(0.5);
    }
  }
}

.postContainer {
  cursor: pointer;
  transition: filter 0.2s;

  h1 {
    color: var(--heading);
    font-size: 1.75rem;
    margin-bottom: 9px;
  }


  div {
    margin-top: 10px;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      font-size: 0.875rem;
    }

    div + div {
      margin-left: 24px;
    }
  }

  &:hover {
    filter: brightness(0.5);
  }

}
